#top{
    height: 32px;
    background-color: #333333;
    padding-left: 56px;
    position: relative;
    z-index: 99;
}
#top .top-left{
    float: left;
}
#top .top-left li{
    float: left;
    line-height: 32px;
}
#top .top-left li a{
    color: #cccccc;
    margin-right: 46px;
}
#top .top-left li a:hover{
    color: rgb(132,132,132);
}
#top .top-right{
    float: right;
    margin-right: 50px;
}
.top-right li{
    line-height: 32px;
    float: left;
}
.top-right li i{
    margin-left: 20px;
}
.top-right li a{
    color: #cccccc;
}
.top-right span{
    color: #cccccc;
    float: left;
    line-height: 32px;
    margin: 0 20px;
}
#top .top-right .give{
    font-size: 12px;
}
.give{
    margin-right: 30px;
}
#top .top-right li a:hover{
    color: rgb(132,132,132);
}
.nav{
    background: rgb(247,247,247);
}
.nav .look{
    position: relative;
    z-index: 999;
    height: 68px;
    background: rgb(247,247,247);
}
.nav .er{
    position: absolute;
    left: 1180px;
    z-index: 9999;
    margin-top: 20px;
    display: none;
}
.nav .er img{
    width: 155px;
    height: 180px;
}
.nav h1{
    height: 68px;
    float: left;
}
.nav h1 a{
	font-size: 45px;
	font-weight: 900;
	color: #000000;
    line-height: 68px;
    margin-right: 60px;
}
.nav h1 a:hover{
	color: rgb(65,95,255);
}
.nav ul{
    float: left;
    height: 68px;
}
.nav ul li {
    float: left;
    height: 100%;
    font-size: 18px;
    padding-left: 34px;
}
.nav ul li a{
    color: #000000;
    line-height: 68px;
    height: 100%;
}
.nav ul li .lit{
    color: rgb(132,132,132);
}
.nav ul li a:hover{
    color: rgb(65,95,255);
}
.nav ul .jianjian{
    line-height: 68px;
    margin-left: 80px;
}
.lei{
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: #fff;
    top: -400px;
    z-index: 9;
}
.lei ul{
    float: left;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 1000px;
}
.lei ul li{
    height: 100%;
    width: 150px;
    text-align: center;
}
.lei ul li img{
    width: 100px;
    height: 184px;
    margin-bottom: 20px;
}
.lei ul li p{
    color: #333333;
    font-size: 16px;
    line-height: 30px;
}
.lei ul li p:hover{
    color: rgb(132, 132, 132);
}
.lei .uu{
    float: left;
    margin-top: 50px;
}
.lei .u1{
    display: block;
    width: 200px;
    height: 54px;
    background-color: #f1f1f1;
    font-size: 16px;
    color: #333333;
    text-align: center;
    line-height: 54px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.lei .u2{
    display: block;
    width: 200px;
    height: 54px;
    background-color: #f1f1f1;
    font-size: 16px;
    color: #333333;
    text-align: center;
    line-height: 54px; 
    border-radius: 20px;
}
.lei .u1:hover{
    background-color: rgb(65,95,255);
    color: #fff;
    cursor: pointer;
}
.lei .u2:hover{
    background-color: rgb(65,95,255);
    color: #fff;
    cursor: pointer;
}
.main{
    background: rgb(247,247,247);
}
.mitt{
    height: 66px;
    margin: 0 0 20px;
}
.mitt .but{
    height: 66px;
    background-color: #fff;

}
.mitt .but p{
    float: left;
    font-size: 22px;
    color: #333333;
    line-height: 66px;
    margin-left: 42%;
}
.mitt .but a{
    float: right;
    line-height: 66px;
    margin-right: 20px;
    font-size: 14px;
    color: #333333;
}
.buy-box{
    width: 100%;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    color: #686868;
    width: 1200px;
    height: 64px;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 26px;
    box-sizing: border-box;
}
.buy-box table .he{
    width: 175px;
    text-align: left;
    height: 64px;
    font-weight: 400;
    font-size: 14px;
    color: #333;
}
.buy-box table .he input{
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 10px;
}
.buy-box table .gu{
    height: 64px;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    text-align: center;
    width: 250px;
    line-height: 1.4;
}
.buy-box table .fu{
    height: 64px;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    text-align: center;
    width: 168px;
    line-height: 1.4;
}
.buy-box table th{
    height: 64px;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    text-align: center;
    width: 120px;
    line-height: 1.4;
}
.lip{
    background: #fff;
    padding: 0 26px;
    font-size: 14px;
    width: 1200px;
    margin: 0 auto;
    height: 152px;
    box-sizing: border-box;
    margin-top: 5px;
    line-height: 152px;
}
.lip .t1{
    text-align: center;
    height: 152px;
    color: #333;
    font-size: 14px;
    width: 20px;
    line-height: 152px;
}
.lip .t1 input{
    width: 20px;
    height: 20px;
}
.lip .t2{
    width: 141px;
    text-align: center;
}
.lip .t2 img{
    height: 100px;
    width: 100px;
    vertical-align: middle;
    border: 1px solid #cccccc;
}
.lip .t3{
    text-align: center;
    height: 152px;
    color: #333;
    font-size: 14px;
    width: 240px;
}
.lip .t4{
    text-align: center;
    height: 152px;
    color: #333;
    font-size: 14px;
    width: 148px;
    line-height: 152px;
}

.lip .shu span{
    display: inline-block;
    width: 21px;
    height: 18px;
    line-height: 18px;
    padding: 6px 4px;
    font-size: 14px;
    text-align: center;
    border: 0;
    border: 1px solid #bbb;
    margin: 0;
    cursor: pointer;
}
.lip td{
    text-align: center;
    height: 152px;
    color: #333;
    font-size: 14px;
    width: 112px;
    line-height: 152px;
}
.lip .lastt a{
    color: #000;
}



.t-box .but{
    height: 452px;
    background-color: #fff;
    text-align: center;
}
.t-box .but img{
    margin-top: 76px;
}
.t-box .but p{
    margin-top: 20px;
    font-size: 15px;
    color: #666;
    text-align: center;
    line-height: 22.5px;
}
.t-box .but a{
    display: inline-block;
    width: 190px;
    height: 46px;
    background-color: rgb(232,19,40);
    margin: 40px 20px 0 0;
    border-radius: 20px/50%;
    color: #fff;
    line-height: 46px;
    font-size: 16px;
}
.main h2{
    font-size: 20px;
    color: #333;
    margin: 37px 0 25px;
}
.but .con li{
    width: 290px;
    height: 380px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 7px 10px 0;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.but .con li img{
    width: 172px;
    height: 172px;
    margin-top: 43px;
}
.but .con li p{
    color: #333;
    font-size: 16px;
    line-height: 30px;
}
.but .con li span{
    height: 24px;
    color: #333;
    font-size: 12px;
    line-height: 24px;
    overflow: hidden;
}
.but .con li .mon{
    display: block;
    color: #f51919;
    font-size: 16px;
    line-height: 1;
    margin-top: 40px;
}





.fix{
    width: 50px;
    height: 150px;
    position: fixed;
    z-index: 100;
    right: 0;
    top: 400px;
    box-shadow:2px 3px 10px #909090;
}
.fix a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    font-size: 26px;
    color: rgb(40,40,40);
    padding: 10px;
    text-align: center;
    line-height: 40px;
}
.fix a:hover{
    background: rgb(233,233,233);
}
.fix .back{
    display: none;
}

/* 底部可复制 */
.last{
    height: 170px;
    background-color: #fff;
    margin-top: 30px;
    box-sizing: border-box;
    padding-top: 30px;
}
.last ul{
    display: flex;
    font-size: 18px;
    color: #000000;
    justify-content: space-around;
    border-bottom: 1px solid #cccccc;
}
.last ul li span{
    line-height: 90px;
}
.last ul li img{
    vertical-align: middle;
    margin-right: 12px;
}
.footer{
    background-color: #fff;
    height: 432px;
}
.footer ul{
    display: flex;
    width: 820px;
    height: 432px;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    float: left;
}
.footer ul li dt{
    font-size: 16px;
    color: #000000;
    line-height: 85px;
}
.footer ul li dd a{
    font-size: 14px;
    color: #666666;
    line-height: 35px;
}
.footer ul li dd a:hover{
    color: #415fff;
}
.footer-right{
    float: left;
    margin-left: 160px;
}
.footer-right span{
    font-size: 20px;
    color: #333333;
    line-height: 70px;
}
.footer-right span i{
    font-size: 28px;
    color: #666666;
    margin-right: 8px;
}
.footer-right i:hover{
    color: #415fff;
}
.footer-right span:hover{
    color: #415fff;
}
.footer-right .pb{
    font-size: 24px;
    color: #415fff;
    line-height: 35px;
}
.footer-right .pm{
    color: #333333;
    font-size: 14px;
    line-height: 40px;
}
.footer-right .pm:last-child{
    margin-top: 20px;
}
.footer-right .icon span{
    font-size: 24px;
    margin-right: 16px;
    color: #333333;
    line-height: 20px;
}
.footer-right .icon span:hover{
    color: #415fff;
}