@charset "utf-8";
*{
	margin:0;
	padding:0;	
}
body,html{
	font:12px "微软雅黑",Arial;	
	width: 100%;
	height: 100%;
}
h1,h2,h3,h4,h5,h6,b,a,h3,p{
	font-weight:normal;
}
ul,ol{
	list-style:none;	
}
a{
	text-decoration:none;	
}
.clear:after{
    content: " ";
    clear: both;
    display: block;
    height: 0;
}
.but{
	width: 1200px;
	margin: 0 auto;
}
input{  
	background:none;  
	outline:none;  
	border:1px solid #ccc;
}
input:focus{   
	border:none;
}
