#top{
    height: 32px;
    background-color: #333333;
    padding-left: 56px;
    position: relative;
    z-index: 99;
}
#top .top-left{
    float: left;
}
#top .top-left li{
    float: left;
    line-height: 32px;
}
#top .top-left li a{
    color: #cccccc;
    margin-right: 46px;
}
#top .top-left li a:hover{
    color: rgb(132,132,132);
}
#top .top-right{
    float: right;
    margin-right: 50px;
}
.top-right li{
    line-height: 32px;
    float: left;
}
.top-right li i{
    margin-left: 20px;
}
.top-right li a{
    color: #cccccc;
}
.top-right span{
    color: #cccccc;
    float: left;
    line-height: 32px;
    margin: 0 20px;
}
#top .top-right .give{
    font-size: 12px;
}
.give{
    margin-right: 30px;
}
#top .top-right li a:hover{
    color: rgb(132,132,132);
}
.nav{
    background: rgb(247,247,247);
}
.nav .look{
    position: relative;
    z-index: 999;
    height: 68px;
    background: rgb(247,247,247);
}
.nav .er{
    position: absolute;
    left: 1180px;
    z-index: 9999;
    margin-top: 20px;
    display: none;
}
.nav .er img{
    width: 155px;
    height: 180px;
}
.nav h1{
    height: 68px;
    float: left;
}
.nav h1 a{
	font-size: 45px;
	font-weight: 900;
	color: #000000;
    line-height: 68px;
    margin-right: 60px;
}
.nav h1 a:hover{
	color: rgb(65,95,255);
}
.nav ul{
    float: left;
    height: 68px;
}
.nav ul li {
    float: left;
    height: 100%;
    font-size: 18px;
    padding-left: 34px;
}
.nav ul li a{
    color: #000000;
    line-height: 68px;
    height: 100%;
}
.nav ul li .lit{
    color: rgb(132,132,132);
}
.nav ul li a:hover{
    color: rgb(65,95,255);
}
.nav ul .jianjian{
    line-height: 68px;
    margin-left: 80px;
}
.lei{
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: #fff;
    top: -400px;
    z-index: 9;
}
.lei ul{
    float: left;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 1000px;
}
.lei ul li{
    height: 100%;
    width: 150px;
    text-align: center;
}
.lei ul li img{
    width: 100px;
    height: 184px;
    margin-bottom: 20px;
}
.lei ul li p{
    color: #333333;
    font-size: 16px;
    line-height: 30px;
}
.lei ul li p:hover{
    color: rgb(132, 132, 132);
}
.lei .uu{
    float: left;
    margin-top: 50px;
}
.lei .u1{
    display: block;
    width: 200px;
    height: 54px;
    background-color: #f1f1f1;
    font-size: 16px;
    color: #333333;
    text-align: center;
    line-height: 54px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.lei .u2{
    display: block;
    width: 200px;
    height: 54px;
    background-color: #f1f1f1;
    font-size: 16px;
    color: #333333;
    text-align: center;
    line-height: 54px; 
    border-radius: 20px;
}
.lei .u1:hover{
    background-color: rgb(65,95,255);
    color: #fff;
    cursor: pointer;
}
.lei .u2:hover{
    background-color: rgb(65,95,255);
    color: #fff;
    cursor: pointer;
}
.main-top .but{
    height: 72px;
    background-color: #fff;
}
.main-top .but p{
    display: inline-block;
    line-height: 72px;
    font-size: 13px;
    color: #333333;
}
.main-top .but p span{
    color: #cccccc;
    font-size: 18px;
    margin: 0 5px;
}
.info{
    width: 1200px;
    height: 1500px;
    margin: 0 auto;
}
.info-left{
    float: left;
    width: 515px;
    height: 723px;
    background-color: #fff;
    position: relative;
}
.info-left .bigu{
    height: 515px;
    position: relative;
}
.info-left .hot{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    z-index: 2;
}
.info-left .bigu li{
    width: 515px;
    height: 515px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 0;
    cursor: pointer;
}
.info-left .bigu li img{
    width: 515px;
    height: 515px; 
}
.info-left .smu{
    width: 364px;
    height: 87px;
    margin: 50px 0 15px 70px;
    display: flex;
    justify-content: space-between;
}
.info-left .smu li img{
    width: 85px;
    height: 85px;
    cursor: pointer;
}
.info-left p{
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: #666;
    font-size: 13px;
}
.info-right{
    float: right;
    width: 510px;
    height: 1500px;
    background-color: #fff;
}
.info-right h1{
    font-size: 34px;
    line-height: 1.2;
    margin-top: 10px;
}
.info-right .in{
    line-height: 22px;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}
.info-right .in span{
    color: #ff4b3d;
}
.info-right .price{
    margin: 36px 0 15px;
    padding: 40px 0;
    border: solid #e4e4e4;
    border-width: 1px 0;
    display: flex;
    width: 100%;
    height: 124px;
    box-sizing: border-box;
}
.info-right .price .price-left{
    width: 230px;
    height: 43px;
    border-right: 1px solid #cccccc;
}
.info-right .price p{
    display: inline-block;
    font-size: 40px;
    color: #f51200;
    line-height: 38px;
}

.info-right .price .s1{
    display: inline-block;
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    text-align: center;
    padding: 0 5px;
    margin-right: 10px;
    color: #fff;
    background-color: #f51314;
    border-radius: 2px;
    margin-left: 10px;
}
.info-right .price .s2{
    font-size: 16px;
    color: #333333;
}
.info-right .lo{
    width: 100%;
    height: 80px;
    margin: 0 0 20px;
    padding: 20px 0 0;
    box-sizing: border-box;
}
.info-right .lo p{
    font-size: 16px;
}
.info-right .lo p span{
    margin: 0 15px;
    cursor: pointer;
}
.info-right .to{
    width: 100%;
    height: 342px;
}
.info-right .to h2{
    margin: 0 0 20px;
    padding: 20px 0 0;
    color: #333333;
    font-size: 18px;
}
.info-right .to .de{
    width: 100%;
    height: 72px;
    display: flex;
}
.info-right .to li{
    float: left;
    width: 220px;
    text-align: center;
    line-height: 57px;
    display: block;
    height: 57px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 16px;
    color: #777;
    border: 1px solid #777;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
}
.info-right .to .te{
    width: 100%;
    height: 144px;
}
.info-right .want{
    width: 100%;
    height: 268px;
}
.info-right .want h2{
    margin: 0 0 20px;
    padding: 20px 0 0;
    color: #333333;
    font-size: 18px;
}
.info-right .want .io{
    width: 100%;
    height: 210px;

}
.info-right .want .io li{
    float: left;
    width: 156px;
    height: 90px;
    border: 1px solid #777;
    border-radius: 6px;
    margin: 0 0 15px 10px;
    cursor: pointer;
    text-align: center;
}
.want .io li p{
    text-align: center;
    font-size: 17px;
    margin-top: 35px;
    color: #777;
}
.want .io li .s1{
    font-size: 14px;
    line-height: 20px;
    color: #777;
}
.want .io li .s2{
    font-size: 14px;
    color: red;
    line-height: 20px;
}
.xq{
    width: 100%;
    height: 285px;
}
.xq h2{
    margin: 0 0 20px;
    padding: 20px 0 0;
    color: #333333;
    font-size: 18px;
}
.xq .yo{
    width: 100%;
    height: 294px;
}
.xq .yo li{
    float: left;
    text-align: center;
    border: 1px solid #777;
    border-radius: 6px;
    max-width: 170px;  
    padding: 0 30px;
    cursor: pointer;
    margin: 0 15px 15px 0;
}
.xq .yo li span{
    color: #333333;
    font-size: 18px;
    line-height: 55px;
}
.num{
    height: 146px;
}
.num h2{
    margin: 0 0 20px;
    padding: 20px 0 0;
    color: #333333;
    font-size: 18px;
}
.num .shu{
    float: left;
    width: 203px;
    height: 59px;
    margin: 0 0 15xp 15px;
    font-size: 16px;
    color: #777;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 6px;
}
.num .shu span{
    display: inline-block;
    height: 100%;
    width: 31.4%;
    border-right: 1px solid #777;
    line-height: 59px;
    text-align: center;
    font-size: 18px;
}
.num p{
    float: left;
    line-height: 59px;
    color: #777;
    font-size: 14px;
    margin-left: 20px;
}
.cart{
    display: inline-block;
    width: 170px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    border-radius: 20px/50%;
    margin-right: 27px;
    background-color: #444444;
    cursor: pointer;
}
.buy{
    display: inline-block;
    width: 170px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    border-radius: 20px/50%;
    margin-right: 27px;
    background-color: #e90f23;
    cursor: pointer;
    margin-left: 30px;
}






.fix{
    width: 50px;
    height: 150px;
    position: fixed;
    z-index: 100;
    right: 0;
    top: 400px;
    box-shadow:2px 3px 10px #909090;
}
.fix a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    font-size: 26px;
    color: rgb(40,40,40);
    padding: 10px;
    text-align: center;
    line-height: 40px;
}
.fix a:hover{
    background: rgb(233,233,233);
}
.fix .back{
    display: none;
}

/* 底部可复制 */
.last{
    height: 170px;
    background-color: #fff;
    margin-top: 30px;
    box-sizing: border-box;
    padding-top: 30px;
}
.last ul{
    display: flex;
    font-size: 18px;
    color: #000000;
    justify-content: space-around;
    border-bottom: 1px solid #cccccc;
}
.last ul li span{
    line-height: 90px;
}
.last ul li img{
    vertical-align: middle;
    margin-right: 12px;
}
.footer{
    background-color: #fff;
    height: 432px;
}
.footer ul{
    display: flex;
    width: 820px;
    height: 432px;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    float: left;
}
.footer ul li dt{
    font-size: 16px;
    color: #000000;
    line-height: 85px;
}
.footer ul li dd a{
    font-size: 14px;
    color: #666666;
    line-height: 35px;
}
.footer ul li dd a:hover{
    color: #415fff;
}
.footer-right{
    float: left;
    margin-left: 160px;
}
.footer-right span{
    font-size: 20px;
    color: #333333;
    line-height: 70px;
}
.footer-right span i{
    font-size: 28px;
    color: #666666;
    margin-right: 8px;
}
.footer-right i:hover{
    color: #415fff;
}
.footer-right span:hover{
    color: #415fff;
}
.footer-right .pb{
    font-size: 24px;
    color: #415fff;
    line-height: 35px;
}
.footer-right .pm{
    color: #333333;
    font-size: 14px;
    line-height: 40px;
}
.footer-right .pm:last-child{
    margin-top: 20px;
}
.footer-right .icon span{
    font-size: 24px;
    margin-right: 16px;
    color: #333333;
    line-height: 20px;
}
.footer-right .icon span:hover{
    color: #415fff;
}